.credit-card-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 900px;
}
.logo-hpaypng-icon {
    width: 130.8px;
    position: relative;
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.component-2 {
    position: absolute;
    width: calc(100% - 1294.2px);
    top: 0px;
    right: 1279.2px;
    left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3.8px 7.5px;
    box-sizing: border-box;
}
.welcome {
    position: absolute;
    top: 10.75px;
    left: 15px;
    line-height: 18px;
    color: #6c757d;
    display: flex;
    align-items: center;
    width: 59.8px;
    height: 18px;
}
.abhinav-mishra {
    position: absolute;
    top: 10.75px;
    left: 78px;
    line-height: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 96.3px;
    height: 18px;
}
.epwr000019-hpay {
    position: absolute;
    top: 28.75px;
    left: 15px;
    line-height: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 121.9px;
    height: 18px;
}
.link {
    position: absolute;
    width: calc(100% - 1251px);
    top: 4px;
    right: 45px;
    left: 1206px;
    height: 60px;
    font-size: 12px;
}
.item {
    width: 46px;
    height: 23px;
}
.paymentspng-icon {
    position: absolute;
    top: 8.34px;
    left: 11.25px;
    width: 24px;
    height: 23px;
    overflow: hidden;
    object-fit: cover;
}
.text {
    position: absolute;
    top: 7.25px;
    left: 39px;
    line-height: 22.5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 81.1px;
    height: 23px;
}
.component-8 {
    width: 131.1px;
    position: relative;
    height: 38.8px;
}
.component-10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.rechargepng-icon {
    position: absolute;
    top: 7.5px;
    left: 11.25px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    object-fit: cover;
}
.text1 {
    position: absolute;
    top: 9.91px;
    left: 45px;
    line-height: 22.5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 77.4px;
    height: 23px;
}
.component-81 {
    width: 133.3px;
    position: relative;
    height: 45px;
}
.wallettransferpng-icon {
    width: 24px;
    position: relative;
    height: 25px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.text2 {
    position: relative;
    line-height: 22.5px;
    font-weight: 600;
}
.component-82 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 7.5px 11.3px;
    gap: 3.8px;
}
.creditcardpng-icon {
    position: absolute;
    top: 7.84px;
    left: 11.25px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    object-fit: cover;
}
.text4 {
    position: absolute;
    top: 7.25px;
    left: 39px;
    line-height: 22.5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 89.9px;
    height: 23px;
}
.component-84 {
    width: 139.8px;
    position: relative;
    height: 39.3px;
}
.list {
    position: absolute;
    top: 8px;
    left: 117px;
    width: 874.9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.vector-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-3 {
    width: 24px;
    position: relative;
    height: 24px;
}
.b {
    position: relative;
    line-height: 22.5px;
}
.link1 {
    position: absolute;
    top: 3px;
    left: 1395px;
    width: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 7.5px 0px;
    box-sizing: border-box;
    color: #582a80;
    font-family: 'Lucida Grande';
}
.container2 {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 1440px;
}
.container1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
.container {
    width: 1440px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1440px;
}
.header {
    width: 1440px;
    background-color: rgba(205, 227, 243, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-wrapper {
    position: absolute;
    top: 0px;
    left: -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.travel-bus {
    width: 1440px;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    left: 0px;
    background-color: #fff;
    height: 900px;
    overflow-y: auto;
    flex-shrink: 0;
    z-index: 0;
}
.bus-search {
    align-self: stretch;
    position: relative;
    line-height: 22.5px;
    font-weight: 500;
}
.container11 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 15px;
    box-sizing: border-box;
    max-width: 1335px;
}
.backgroundhorizontalborder {
    align-self: stretch;
    border-radius: 2.75px 2.75px 0px 0px;
    background-color: #13176b;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8.8px 3.8px 9.8px;
}
.select-origin-city {
    align-self: stretch;
    position: relative;
}
.container16 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.input {
    width: 225px;
    border-radius: 5px;
    height: 37.5px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 10.8px 0px 10.8px 5px;
    box-sizing: border-box;
}
.container15 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 0;
}
.compare-arrows {
    flex: 1;
    position: relative;
    line-height: 24px;
}
.backgroundborder {
    align-self: stretch;
    border-radius: 13px;
    background-color: #fff;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 1px;
}
.container17 {
    width: 6.64%;
    margin: 0 !important;
    position: absolute;
    top: 8px;
    right: -2.03%;
    left: 95.39%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3.8px 0px 5px;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
    font-size: 24px;
    color: #13176b;
    font-family: 'Material Icons';
}
.verticalborder {
    flex: 1;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    height: 47.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 21px 0px 10px;
    position: relative;
    max-width: 391.57px;
}
.container18 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.verticalborder1 {
    flex: 1;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    height: 47.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 21px 0px 10px;
    max-width: 391.57px;
}
.container14 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0px;
    min-height: 60px;
}
.container13 {
    width: 783.1px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 783.12px;
    text-align: left;
}
.event {
    position: relative;
    line-height: 18px;
}
.container21 {
    position: absolute;
    width: 5.36%;
    top: 12px;
    right: 3.27%;
    left: 91.36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.verticalborder2 {
    width: 100%;
    position: relative;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    height: 60px;
    max-width: 335.63px;
}
.container20 {
    width: 335.6px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 335.63px;
    font-size: 18px;
    color: #212529;
    font-family: 'Material Icons';
}
.text6 {
    position: relative;
    line-height: 30px;
    text-transform: capitalize;
    font-weight: 600;
}
.component-1 {
    width: 223.8px;
    background-color: #38c4e7;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 14.8px 11.3px 15.3px;
    box-sizing: border-box;
    font-size: 15px;
    color: #fff;
    font-family: Poppins;
}
.form {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0px;
}
.container12 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 1px;
    text-align: center;
    font-size: 14px;
    color: #999;
    font-family: Times;
}
.backgroundshadow {
    align-self: stretch;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3.75px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.container9 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 7.5px 15px 45px;
    box-sizing: border-box;
    max-width: 1372.5px;
}
.container8 {
    width: 1372.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
.recent-bookings {
    align-self: stretch;
    position: relative;
    line-height: 32px;
    font-weight: 600;
}
.horizontalborder {
    align-self: stretch;
    border-radius: 0px 0px 2px 2px;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 15px 4.8px;
}
.no-recent-bookings {
    align-self: stretch;
    position: relative;
    line-height: 30px;
    text-transform: capitalize;
}
.data {
    align-self: stretch;
    border-radius: 2px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 5px;
    box-sizing: border-box;
}
.body-row {
    align-self: stretch;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.table {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #17a2b8;
}
.container25 {
    align-self: stretch;
    width: 915px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 7.5px 15px 15px;
    box-sizing: border-box;
    max-width: 915px;
}
.noresultfoundjpg {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.container27 {
    align-self: stretch;
    border-radius: 0px 0px 2px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 19.3px 15px 17.2px;
}
.container26 {
    align-self: stretch;
    width: 457.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 7.5px 15px 65.3px;
    box-sizing: border-box;
    max-width: 457.5px;
}
.container23 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 7.5px 0px 0px;
    box-sizing: border-box;
    max-width: 1372.5px;
}
.container22 {
    width: 1372.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    color: #336699;
}
.container7 {
    width: 1342.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1342.5px;
}
.container6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 15px 0px 0px;
}
.container5 {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 15px;
    box-sizing: border-box;
    max-width: 1402.5px;
    z-index: 0;
}
.container4 {
    width: 1402.5px;
    height: 286.8px;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    color: #fff;
}
.travel-bus-parent {
    width: 100%;
    position: relative;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 182px 18px;
    box-sizing: border-box;
    gap: 10px;
    text-align: left;
    font-size: 15px;
    color: #222;
    font-family: Poppins;
}